.rules {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.rules-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 7px 40px;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3rem;
}

.rule-show {
  background-color: white;
  width: 500px;
  max-width: 100vw;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.rule-header img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rule-img {
  text-align: center;
  width: 100%;
}

.rule-img img {
  width: 100%;
  height: 100%;
}

.close-m-icon {
  display: none;
}

@media (max-width: 530px) {
  .rules {
    justify-content: center;
  }

  .rule-show,
  .rule-header {
    justify-content: center;
  }

  .rule-show {
    display: flex;
    gap: 50px;
  }

  .rules-btn {
    margin-right: 0;
  }

  .close-icon {
    display: none;
  }

  .close-m-icon {
    display: inline;
  }
}
